/* Basic styling: */

body {
    font-family: sans-serif;
}

pre {
    padding: 0.3em;
}

/* Test block formatting: */

pre.doctest, pre.commenttest {
    border: 1px solid #999;
    border-radius: 4px;
}

pre.doctest.doctest-some-failure, pre.commenttest.doctest-some-failure {
    border: 1px solid #f00;
}

/* Individual example formatting: */

.doctest-example:target {
    border-left: 4px solid #f00;
    padding-left: 4px;
}

.doctest-example {
}

.doctest-example.doctest-success {
    color: #060;
}

.doctest-example.doctest-failure {
    color: #900;
}

.doctest-example .doctest-actual-output {
    color: #066;
    /*padding-left: 1em;*/
}

.doctest-example.doctest-failure .doctest-output {
    padding-left: 1em;
}

.doctest-example .doctest-output {
    font-weight: bold;
}

.doctest-example .doctest-description {
    color: #000;
    font-weight: bold;
}

.doctest-example .doctest-console {
    color: #009;
    padding-left: 1em;
}

/* Reporter formatting: */

#doctest-success-count.doctest-nonzero {
    color: #0f0;
}

#doctest-failure-count.doctest-nonzero {
    color: #f00;
}

.doctest-report-table th {
    font-weight: normal;
    text-align: left;
}

.doctest-report-table td {
    padding: 0 1em;
}

a.doctest-failure-link {
    color: #00f;
    text-decoration: none;
    padding: 0 1em 0 0;
}

a.doctest-failure-link:visited {
    color: #00f;
}

a.doctest-failure-link:hover {
    text-decoration: underline;
}
