pre {
  overflow: auto;
}

pre.doctest {
  border-left: 3px solid #99f;
  padding-left: 1em;
}

pre.output {
  border-left: 3px solid #9f9;
  padding-left: 1em;
}

.doctest-example-prompt {
  color: #333;
}

.doctest-success {
  color: #060;
}

.doctest-failure {
  color: #600;
}

.doctest-example-detail {
  color: #060;
  font-weight: bold;
}
