body {
  font-family: sans-serif;
}
li {
  margin-bottom: 0.5em;
}
code {
  color: #006;
}
div, p {
  margin-bottom: 1em;
}

h3, h4, h5, h6 {
  border-bottom: 2px solid #000;
}

pre {
  border-left: 2px solid #bb3;
  padding-left: 1em;
}

i, em {
  font-family: serif;
}

div#contents li {
  list-style: none;
  margin-bottom: 2px;
}

div#contents ul {
  padding-left: 1em;
}

:target {
  border-bottom: 2px solid #f00;
}

/* I don't know why I need this: */
div, p {
  margin-bottom: 1em;
}

.download {
  float: right;
  padding-right: 100px;
}

h1.title {
  font-size: 3.8em;
  margin-bottom: 3px;
}

h1.title a {
  color: #000;
  text-decoration: none;
}

h1.title a:hover {
  text-decoration: underline;
}

h1.title .small {
  font-size: 0.4em;
}
