body {
  font-family: sans-serif;
}
li {
  margin-bottom: 0.5em;
}
code {
  color: #006;
}

h2, h3, h4, h5, h6 {
  border-bottom: 2px solid #000;
}
pre {
  border-left: 2px solid #bb3;
  padding-left: 1em;
}

i, em {
  font-family: serif;
}

div#contents li {
  list-style: none;
  margin-bottom: 2px;
}

div#contents ul {
  padding-left: 1em;
}

:target {
  border-left: 2px solid #f00;
}
